{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% set active_page = "settings" %}

{% block title %}
{{ project_name }}
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='dashboard.css')}}">
{% endblock %}

{% block content %}
    <div class="container">

      <form class="form" method="POST" action="/settings/change_password">
        <h2 class="form-heading">Update Your Password</h2>
        {{ form.hidden_tag() }}
        {{ wtf.form_field(form.current_password) }}
        {{ wtf.form_field(form.new_password) }}
        {{ wtf.form_field(form.retype_new_password) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
      </form>
	  

    </div> <!-- /container -->
{% endblock %}
